.Rhistory
.Rproj.user/
saved_files/
saved_files_lot_sales/
checkpoints/
checkpoints_lot_sales/
Notebook_files/
Notebook.pdf
Notebook.log
Notebook.tex
Notebook_lot_sales_files/
Notebook_lot_sales.pdf
Notebook_lot_sales.log
Notebook.tex
Dataset.pdf
Dataset_ny.pdf
Paper_figures/
